.addToCart{
 height:2rem;
 width: 3 rem;
 margin-left:1rem;
 justify-content:center;
 box-shadow: 2px 2px 5px rgb(249, 249, 249);
 background-color: #f1f900;


}
.ItemCounter{
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
}
.plus{
    padding: 0.5rem;
    margin-right: 1rem;
    box-shadow: 2px 2px 5px rgb(249, 249, 249);
}
.less{
    padding: 0.5rem;
    margin-left: 1rem;
    box-shadow: 2px 2px 5px rgb(249, 249, 249);
    
}
.qty{
    color: white;
    font-size:1.5rem;
}